:root {
  /* --gradient: #4fb576 0%, #44c489 15%, #28a9ae 25%, #28a2b7 50%, #4c7788 65%, #6c4f63 80%, #432c39 100%; */
  /* --gradient: #473B7B 0%, #3584A7 51%, #30D2BE 100%; */
  --gradient: #380036 0%, #0cbaba 80%;
  --gradStart: #380036;
  --gradEnd: #0cbaba;
}

* {
  margin: 0%;
  padding: 0%;
}

html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-div {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  background-color: var(--gradEnd);
  background-image: linear-gradient(to top, var(--gradient));
}

.apply-loc-btn:hover {
  transform: scale(1.05);
}

.apply-loc-btn {
  width: 32vh;
  height: 50px;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  z-index: 100;
  border-radius: 30px;
  cursor: pointer;
}

h1 {
  margin-top: 5px;
  font-size: 1.7rem;
  background: linear-gradient(to left, var(--gradient));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 35px;
}

.big-pnt {
  font-size: 3.5rem;
}

.custom-shape-divider-top-1607676385 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1607676385 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1607676385 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1607689767 {
  position: absolute;
  bottom: 55vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1607689767 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 30px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1607689767 .shape-fill {
  fill: #FFFFFF;
}

.search-div-txt {
  padding-top: 1vh;
  color: #fff;
  opacity: 0.2;
  font-size: 6.6rem;
  text-transform: uppercase;
}

.search-div label {
  margin: -70px 0px 10px 0px;
  color: #fff;
  opacity: 1;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
}


#city-in {
  display: none;
  height: 40px;
}

#city-in,
.search-btn {
  position: absolute;
  top: 28vh;
  left: 50%;
  transform: translate(-50%);
  margin: auto;
  text-align: center;
  width: 70%;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  border: none;
}

#city-in::placeholder {
  font-size: 2rem;;
  text-transform: none;
  background-color: none;
  color: #fff;
  opacity: 0.6;
}

#city-in:focus {
  border: none;
  outline: none;
}


.city-slide {
  position: absolute;
  top: 28vh;
  left: 50%;
  transform: translate(-50%);
  margin-top: 0px;
  margin-bottom: 0px;
  display: none;
  font-size: 35px;
  line-height: 50px;
  color: #ecf0f1;
  white-space: nowrap;
}

.city-slide-box {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
  }

.city-slide-box-li {
      margin-top: 0;
      text-align: center;
      list-style: none;
      -webkit-animation-name: change;
      -webkit-animation-duration: 12s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 12s;
      animation-iteration-count: infinite;
}

.city-slide-box-li-el {
    line-height:40px;
    margin:0;
}

.search-btn {
  top: 38vh;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.search-btn:hover {
  text-shadow: 0px 0px 10px #0cbaba  ;
}

.weather-display {
  width: 100vw;
  display: inline-flex;
  margin: 1vh 0vw 0vh 0vw ;
  align-self: center;
  justify-self: center;
  justify-content: space-evenly;
}

.location-txt {
  padding: 3vh 0vh;
  width: fit-content;
  margin: auto;
}

.weather-display div {
  padding: 10px;
}

.wind-direction-div {
  background-color: yellow;
}

.temp-unit-toggle-div {
  margin-top: 20px
}

.weather-display-r2 img {
  padding-top: 30px;
  width: 100px;
}

.r2-border-wrapper {
  padding: 0%;
  margin: 0%;
  width: 32vh;
  height: 32vh;
  min-width: 280px;
  min-height: 280px;
  background: linear-gradient(to top, var(--gradient));
  border-radius: 160px;
  padding: 4px !important;

}

.weather-display-r2 {
  padding: 1px !important;
  height: 32vh;
  min-width: 280px;
  min-height: 280px;
  margin-right: 0px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 10rem;
  overflow: hidden;
}

.wind-disp {
  margin-bottom: -30px;
}

.wind-direction {
  padding: 0px;
  font-size: 4rem;
    background: linear-gradient(to right, var(--gradient));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#city-in:hover .city-slide {
  display: none;
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

.active {
  display: block !important;
}